<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CyberThreatIntelDB</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="honeypots">
                <span class="bi bi-ubuntu-fill-nav-menu" aria-hidden="true"></span> Honeypots
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attackers">
                <span class="bi bi-person-bounding-box-fill-nav-menu" aria-hidden="true"></span> Attackers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attacks">
                <span class="bi bi-exclamation-triangle-fill-nav-menu" aria-hidden="true"></span> Attacks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vulnerabilities">
                <span class="bi bi-file-earmark-code-fill-nav-menu" aria-hidden="true"></span> Vulnerabilities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="malwares">
                <span class="bi bi-virus-fill-nav-menu" aria-hidden="true"></span> Malwares
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="incidentreports">
                <span class="bi bi-file-earmark-zip-fill-nav-menu" aria-hidden="true"></span> Incident Reports
            </NavLink>
        </div>

    </nav>
</div>

